token.json
*.log*
__pycache__/
aliases.json
test.py
upsells.json
game__next_data__.json
guilds.json
.DS_Store
**/.DS_Store
*.png
*.ini
*.sql
game.json
ps_api.py
measure.py
*.html
deprecated.py.txt
trophy.md
soup_and_data.py
ps_api.py
f2p.json
database.py_bp
.ipynb_checkpoints/
