[loggers]
keys=discord
[formatters]
keys=precise
[logger_discord]
level=DEBUG
handlers=file
[handlers]
keys=file
[handler_file]
class=handlers.RotatingFileHandler
formatter=precise
encoding=utf-8
args=('discord.log',32 * 1024 * 1024,5)
[formatter_simple]


[formatter_precise]
format=%(asctime)s - %(name)s - %(levelname)s : Line %(lineno)s - %(message)s
dt_fmt = '%Y-%m-%d %H:%M:%S'